

header {
  background: blue;
  height: 100px;
  justify-content: space-between;

}
article {
  padding: 10px;
  margin: 10px;
  background: aqua;
}
section {
  zoom: 0.8;
  display: flex;
}
article {
  flex: 1;
}
article:nth-of-type(1) {
  flex: 2;
}
