body {
  margin: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

article {
  padding: 10px;
  margin: 10px;
  background: aqua;
}

.list-box,
.list-content {
  box-sizing: border-box;
}

.list-box {
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px auto;
}

.list-box li {
padding: 10px 0;
border-bottom: 1px solid #e0e0e0;
}

header {
  background-color: #660099;
  color: white;
  text-align: center;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
  font-size: 4rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}