body {
  margin: 10px;
  font-family: 'Jost', aria, arial;
  line-height: 1.5;
  padding: 0 10px;
}

footer {
  background-color: #ffeeed;
  color: #4A280C;
  text-align: center;
  min-height: 100px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.list-box li {
  padding: 0 5px 5px 5px;
  border-bottom: 1px solid #D2C9C3;
  margin: 5px 0;
}