header {
  background-color: #ffeeed;
  font-family: cursive, arial;
  color: #4A280C;
  text-align: center;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
  font-size: 4rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 20px;
  font-family: 'Jost', aria, arial;
  color: #4A280C;
  line-height: 1.5;
  padding: 0 10px;
}

footer {
  background-color: #ffeeed;
  color: #4A280C;
  text-align: center;
  min-height: 100px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-style: bold;
}

list-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid #D2C9C3;
  border-radius: 5px;
  justify-content: flex-start;
  background-color: #f9f9f9;
  margin: 10px;
}

main {
  display: flex;
  flex-direction: column;
}

.about {
  width: 300px;
  text-align:center;
}

.about img {
  width: 200%;