header {
  background-color: #8A2BE2;
  color: white;
  text-align: center;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
  font-size: 4rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #8A2BE2;
  color: white;
  text-decoration: dashed;
  font-weight: bold;
  text-align: center;
  min-height: 100px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
  
table,
h1,
form {
    border-collapse: collapse;
    margin-left: 10px;
}

td,
th {
    border: 1px solid black;
    padding: 10px 20px;
}

h2 {
    font-weight: bold;
    margin-left: 10px;
}

body {
  padding: 10px;
  margin: 10px;
  padding-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}

caption {
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  text-shadow: 0ch;
}

thead {
  font-weight: bold;
  background-color: plum;
}

td {
  text-align: center;
}

tbody {
  font-size: 95%;
  font-style: italic;
}

div {
  padding: 10px 0;
}