body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

article {
  padding: 10px;
  margin: 10px;
  background: aqua;

li {

  border: 1px solid black;
  margin-bottom: 5px;
}

header {
  background-color: 660099;
  color: white;
  padding: 10px;
  margin: 10px;
}