#main-navigation ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    list-style: none;
    margin: 36px;
}

#main-navigation ul li a {
    padding: 8px 20px;
    background-color: #8A2BE2;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
}

#main-navigation ul li a:hover {
    background-color: #DA70D6;
}

header {
  background-color: #8A2BE2;
  color: white;
  text-align: center;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
  font-size: 4rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #8A2BE2;
  color: white;
  text-decoration: dashed;
  font-weight: bold;
  text-align: center;
  min-height: 100px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

section {
  margin: 10px;
  background: #DA70D6;
  padding: 10 10 10 20px;
}

section {
  padding: 10px;
  margin: 10px;
  background: #DA70D6;
  padding-bottom: 20px;
  font-family: 'Courier New', Courier, monospace; 
}

section p {
  font-weight: bold;
}

section {
  padding: 10px;
  margin: 10px;
  background: #DA70D6;
  padding-bottom: 20px;
  font-family: 'Courier New', Courier, monospace; 
}